<!-- /cards/:id -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/card.css">
    <title>Hearthstone Deck Builder</title>
</head>
<body>
    <% include ./partials/header %>
    <div class="bannerBorder">
      <div class="dropdown">
      <span>Card Class</span>
      <div class="dropdown-content">
        <a class="dropdownLinks" href="/deckbuilder/2">Druid</a>
        <a class="dropdownLinks" href="/deckbuilder/3">Hunter</a>
        <a class="dropdownLinks" href="/deckbuilder/4">Mage</a>
        <a class="dropdownLinks" href="/deckbuilder/5">Paladin</a>
        <a class="dropdownLinks" href="/deckbuilder/6">Priest</a>
        <a class="dropdownLinks" href="/deckbuilder/7">Rogue</a>
        <a class="dropdownLinks" href="/deckbuilder/8">Shaman</a>
        <a class="dropdownLinks" href="/deckbuilder/9">Warlock</a>
        <a class="dropdownLinks" href="/deckbuilder/10">Warrior</a>
      </div>
      </div>
    </div><!--bannerBorder-->

  <div class="pageWrapper">

  <div class="leftDiv">
    <div class="cardDiv">
      <img src="https://media-hearth.cursecdn.com/attachments/39/669/cardback_5.png" class="b-lazy" data-src="<%=card.img%>" alt="">
    </div><!--cardDiv-->
  </div><!--leftDiv-->

  <div class="rightDiv">
    <div class="cardInfoDiv">
      <h1>Card Name: <%=card.name%></h1>
      <h3>Card Type: <%=card.type%></h3>

      <!-- leave field blank if there isn't any attack -->
      <% if(card.attack !== null){ %>
      <h3>Attack Power: <%=card.attack%></h3>
      <% } %>

      <!-- leave field blank if there isn't any health OR change the description if the card is a wreapon -->
      <% if(card.health !== null){ %>
        <% if(card.type === 'Weapon'){ %>
          <h3>Durability: <%=card.health%></h3>
          <% } else {%>
          <h3>Health: <%=card.health%></h3>
        <% } %>
        <% } %>

      <h3>Mana: <%=card.mana%></h3>
    <% let desc = card.description%>
      <h3 >Card Description:</h3>
      <p class="desc"><%- desc %> </p>

      <% card_comments.forEach(comment => {%>
        <div class="cardComment">
          <h4><%=comment.username%></h4>
          <p class="desc"><%=comment.comment%></p>
        </div>
      <%})%>

      <form action="/card_comment/<%=card.id%>" method="POST">
          <textarea name="comment" id="" cols="60" rows="8"></textarea><br>
          <button>Submit</button>
      </form>

    </div><!--cardInfoDiv-->
  </div><!--rightDiv-->


</div><!--pageWrapper-->

<script type="text/javascript" src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>
<script>
     var bLazy = new Blazy({
        breakpoints: [{
	    width: 420 // Max-width
          , src: 'data-src'
	}]
      , success: function(element){
	    setTimeout(function(){
		// We want to remove the loader gif now.
		// First we find the parent container
		// then we remove the "loading" class which holds the loader image
		var parent = element.parentNode;
		parent.className = parent.className.replace(/\bloading\b/,'');
	    }, 200);
        }
   });
</script>

<% include ./partials/footer %>
