<!-- /cards/:id -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/card.css">
    <title>Document</title>
</head>
<body>
<% include ./partials/header %>

    <div class="card">

      <img src="https://media-hearth.cursecdn.com/attachments/39/669/cardback_5.png" class="b-lazy" data-src="<%=card.img%>" alt="">
      <h1><%=card.name%></h1>
      <h3><%=card.type%></h3>
      <h3><%=card.attack%></h3>
      <h3><%=card.health%></h3>
      <h3><%=card.mana%></h3>
<% let desc = card.description%>
      <p><%- desc %> </p> 

<div class="cardComment">
<% card_comments.forEach(comment => {%>
<h4><%=comment.username%></h4>
<p><%=comment.comment%></p>
<%})%>
</div>
</div>

<form action="/card_comment/<%=card.id%>" method="POST">
    <textarea name="comment" id="" cols="30" rows="10"></textarea>
    <button>Submit</button>
</form>

<script type="text/javascript" src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>
<script>
     var bLazy = new Blazy({
        breakpoints: [{
	    width: 420 // Max-width
          , src: 'data-src'
	}]
      , success: function(element){
	    setTimeout(function(){
		// We want to remove the loader gif now.
		// First we find the parent container
		// then we remove the "loading" class which holds the loader image
		var parent = element.parentNode;
		parent.className = parent.className.replace(/\bloading\b/,'');
	    }, 200);
        }
   });
</script>

<% include ./partials/footer %>
