<!-- /cards/:id -->

<% include ./partials/header %>

    <div class="card">

      <img src="<%=card.img%>" alt="">
      <h1><%=card.name%></h1>
      <h3><%=card.type%></h3>
      <h3><%=card.attack%></h3>
      <h3><%=card.health%></h3>
      <h3><%=card.mana%></h3>
      <h3><%=card.description%></h3>

<div class="cardComment">

</div>
</div>

<% include ./partials/footer %>
