<!-- /decks/:id -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/deck.css">
    <title>Hearthstone Deck Builder</title>
  </head>
  <body>

    <div class="description">
      <%console.log(deck)%>
      <h1><%=deck.deck_name%></h1>
      <p><%=deck.desc%></p>
    </div>
    <%console.log(cards)%>
    <div class="deck_list">
        <% cards.forEach(card => { %>
          <div>
            <span>Mana: <%=card.mana%></span>
            <a class="card" href="/card/<%=card.id%>"><%=card.name%></a>
            <span><%=card.qty%></span>
          </div>
        <%})%>
    </div>

    <div class="commentsSection">
      <%comments.forEach(comment => {%>
        <h4><%=comment.username%></h4>
        <p><%=comment.comment%></p>
      <%})%>
    </div>

    <form action="/deck_comment/<%=deck.id%>" method="POST">
      <textarea name="comment" id="" cols="30" rows="10"></textarea>
      <button>Submit</button>
    </form>

  </body>
</html>
