<!-- /decks/:id -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/deck.css">
    <title>Hearthstone Deck Builder</title>
  </head>
  <body>
    <% include ./partials/header %>

<div class="pageWrapper">

  <div class="leftDiv">
    <div class="deckInfoDiv">


    <div class="description">
      <%console.log(deck)%>
      <h1>Deck Name:<br> <%=deck.deck_name%></h1>
      <p>Description:<br><%=deck.desc%></p>
    </div>

    <div class="commentsSection">
      <%comments.forEach(comment => {%>
        <h4>Username:<%=comment.username%></h4>
        <p class="desc"><%=comment.comment%></p>
      <%})%>
    </div>

    <form action="/deck_comment/<%=deck.id%>" method="POST">
      <textarea name="comment" cols="50" rows="8"></textarea><br>
      <button>Submit</button>
    </form>

  </div>
  <!-- deckInfoDiv -->
  </div>
  <!-- leftDiv -->

  <div class="rightDiv">
    <div class="deck">
    <h1 class="deckH1">Deck List</h1>
    </div>


    <div class="deck_list">
        <ul>
          <li>Qty Mana Card Name</li>
        <% cards.forEach(card => { %>
            <li class="cardListItem">
            <span class="cardQty"><%=card.qty%></span>
            <span class="cardMana"><%=card.mana%></span>
            <a class="card" href="/card/<%=card.id%>"><%=card.name%></a>
            </li>
        <%})%>
        </ul>
    </div>
    <!-- deck_list -->
  </div>
  <!-- rightDiv -->

</div>
<!-- pageWrapper -->

  </body>
</html>
