<!-- /decks/:id -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/deck.css">
    <title>Hearthstone Deck Builder</title>
  </head>
  <body>

    <div class="description">
      <%console.log(deck)%>
      <h1><%=deck.deck_name%></h1>
      <p><%=deck.desc%></p>
    </div>
    <div class="deck_list">
        <% cards.forEach(card => { %>
          <div>
            <span><%=card.mana%></span>
            <a class="card" href="/card/<%=card.id%>"><%=card.name%></a> 
            <span><%=card.qty%></span>
          </div>
        <%})%>
    </div>
    
    
  </body>
</html>
