<!-- /deck_builder/:class_id -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/deck_builder.css">
    <title>Hearthstone Deck Builder</title>
    <link rel="stylesheet" href="/css/imageGallery.css">
  </head>

  <body>
    <% include ./partials/header %>
    <div class="bannerBorder">
    </div><!--bannerBorder-->

    <div class="pageWrapper">
    <h2>Deck Bulider</h2>

<div class="slideshow-container">

  <%for(let i = 0; i < cards.length; i+=6){%>
  <div class="mySlides1">

    <%for(let j = i; j < i+6 && j < cards.length ;j++){%>

      <img src="https://media-hearth.cursecdn.com/attachments/39/669/cardback_5.png" class="b-lazy"
      data-cardid="<%=cards[j].id%>"
      data-mana="<%=cards[j].mana%>"
      data-name="<%=cards[j].name%>"
      data-src="<%=cards[j].img%>" alt="">

    <%}%>

    <a class="prev" onclick="plusSlides(-1,1)" >&#10094;</a>
    <a class="next" onclick="plusSlides(1,1)" >&#10095;</a>
  </div>
  <%}%>
</div>

<ul id="decklist">
  <%deck_cards.forEach(card => {%>
    <li data-cardid="<%=card.id%>" data-name="<%=card.name%>" data-qty="<%=card.qty%>" class="deck_card"><%=card.name + ' ' + card.qty%></li>
  <%})%>
</ul>

<form action="/create_deck" id="submitDeck">
  <input type="text" name="deck_name" id="deck_name_input">
  <textarea name="desc" cols="30" rows="10" id="description_input"></textarea>
  <button>Submit</button>
</form>

</div> <!--pageWrapper-->
<script>
  var class_id = <%=class_id%>;
</script>
<script>
  var deck_id = <%=deck_id%>;
</script>
<script type="text/javascript" src="/deckbuilder.js"></script>
<script type="text/javascript" src="/edit_deck.js"></script>
<script type="text/javascript" src="/slide.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>
<script type="text/javascript" src="/blazy.js"></script>
</body>

</html>
